<!-- src/views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  <title>{{pageTitle}}</title>
</head>
<body>

  <!-- Header -->
  <header>
    <h1>AgendaAqui</h1>
     <!-- menu -->
    <nav>
      <ul>
        <li><a href="/companies">Empresas</a></li>
      </ul>
    </nav>
  </header>

  <!-- Conteúdo específico da página -->
  {{{body}}}

  <!-- Footer -->
  <footer>
    <p>&copy; 2023 AgendaAqui</p>
  </footer>

</body>
</html>